.provider-block {
  width: 320px;
  height: 340px;
  text-align: center;
  display: inline-table;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 5px 4px rgb(0 0 0 / 50%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin: 8px;
  cursor: pointer;
}

.provider-block img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid gray;
  margin: 15px 0;
}
