.hero-title {
  color: black;
}
.banner img {
  height: 500px;
}

@media only screen and (max-width: 668px) {
  .banner img {
    height: auto;
  }
}

.banner h1 {
  font-weight: bolder;
  font-size: 60px;
}
